# http://whistleofmine.lol {
#   redir https://{host}{uri} permanent
# }

whistleofmine.lol {
  # reverse_proxy * https://xray:443 {
  #   header_up Host {upstream_hostport}
  #   header_up X-Forwarded-Host {host}
  # }
  file_server browse
  root * /srv
}