
whistleofmine.lol, vless.pcbshop.ir {
  # bind unix//dev/tmp/default.sock

  @websockets {
    header Connection *Upgrade*
    header Upgrade websocket
  }

  reverse_proxy @websockets xray:443 


  file_server browse
  root * /srv
}


test.whistleofmine.lol {
  reverse_proxy xray:443 
}

