version: "3.7"

services:
  caddy:
    container_name: caddy-server
    image: caddy:2-alpine
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./site:/srv
      - ./caddy_data:/data
      - ./caddy_config:/config
    env_file: .env

  xray:
      image: teddysun/xray:1.6.2
      # network_mode: host
      restart: always
      logging:
          driver: "json-file"
          options:
              max-size: "10M"
      volumes:
          - ./xray/config.json:/etc/xray/config.json
          - ./caddy_data/caddy/certificates/acme-v02.api.letsencrypt.org-directory:/etc/certs
      container_name: xray